[Unit]
Description=Read DHT11 temperature and humidity sensors
Documentation=man:sensor-dht11(1)
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sensor-dht11 record
StandardOutput=journal
StandardError=journal
