[Unit]
Description=Read DHT11 sensors every minute
Documentation=man:sensor-dht11(1)

[Timer]
OnBootSec=30
OnUnitActiveSec=60
AccuracySec=5

[Install]
WantedBy=timers.target
